* {
    /* color: #FFFFFF; */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    /* font-family: Arial, Helvetica, sans-serif; */
    line-height: 1.4;
}


nav {
    background-color: var(--nav-dark);
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    z-index: 100;
    position: fixed;
    bottom: 0;
    width: 100vw;
    height: 60px;

    @media (min-width:660px) {
        position: static;
        display: grid;
        grid-template-columns: 1fr min-content min-content min-content min-content;
        gap: 1rem;
        bottom: unset;
    }

    h1 {
        display: none;

        @media (min-width: 660px) {
            display: block;
        }
    }

    a {
        display: flex;
        align-items: center;
        color: var(--white);
        transition: ease-in-out .2s;

        &:hover {
            transform: scale(1.25);

        }

        &:first-child {
            margin-left: 20px;
            gap: 0.5rem;
            width: fit-content;

            &:hover {
                @media (min-width: 660px) {
                    transform: scale(1.1);

                }

                color: var(--font-color-accent);

                svg {
                    path {
                        fill: currentColor;
                    }
                }
            }
        }

        &:last-child {
            margin-right: 20px;
        }

        p {
            display: none;

            @media (min-width: 660px) {
                display: block;
            }
        }
    }
}

.logo {
    display: flex;
    align-items: center;
}

body {
    /* background-color: #1B3644; */

}

/* standard main styling */
main {
    width: clamp(300px, 100%, 1200px);
    margin: auto;

    @media (min-width: 660px) {
        width: clamp(300px, 90%, 1200px);
    }

    h2 {
        text-align: center;
        padding-top: 10px;
        color: var(--nav-neutral);
    }

    h3 {
        color: var(--nav-neutral);
        text-wrap: nowrap;
    }

    section {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 5px;
    }

    a {
        color: var(--nav-neutral);
    }

    header {
        background-color: var(--nav-dark);

        color: var(--white);


        @media (min-width: 660px) {
            background-color: transparent;
            color: var(--nav-dark);
        }

        h2 {
            color: inherit;
            text-align: center;
        }
    }


    .arrow {
        transition: margin-left 0.3s;


        &:hover {
            margin-left: 5px;

            &::after {
                opacity: 1;
            }
        }

        &::after {
            content: '→';
            margin-left: 5px;
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    img {
        transition: transform 0.3s ease-in-out;

        &:hover {
            transform: scale(1.05);
            cursor: pointer;
        }
    }

    form {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: center;
        align-items: center;
        margin: .5rem;
        padding: .5rem;
        border-radius: var(--border-radius-small);
        gap: 1rem;
        transition: ease-in-out .3s;
        max-width: 25rem;
        margin: auto;

        fieldset {
            grid-column: 1 / -1;
            border: none;
            background-color: var(--secondary-bg-lightest);
            padding: .5rem;
            border-radius: var(--border-radius-small);
            gap: 1rem;
            transition: ease-in-out .3s;
            display: flex;
            flex-direction: column;

            label {
                grid-column: 1 / -1;
                justify-content: center;
                align-items: center;
                display: flex;
            }

            .text {
                flex-direction: column;

                input {
                    &:user-invalid {
                        border: 2px solid var(--alert-light);
                    }

                    &:user-valid {
                        border: 2px solid var(--accent-light);
                    }
                }
            }
        }
    }
}

/* Home page */
.index-main {
    margin: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: clamp(20rem, 100%, 70rem);


    section {
        padding: .3rem;

        h3 {
            grid-column: 1 / -1;
        }

        img {
            width: 100%;
        }
    }
}

/* Groups page */
.groups-main {
    margin: 0 auto 0 auto;

    header {
        display: grid;
        grid-template-columns: 3rem 1fr 3rem;

        h2 {
            color: inherit;
            grid-column: 2;
            padding-bottom: 5px;
            text-align: center;
        }

        a {
            /* margin-left: auto; */
            color: inherit;
            font-size: var(--font-size-largest);
            text-align: center;
            transition: ease-in-out .2s;
            padding: 5px;
            width: min-content;

            &:hover {
                transform: scale(1.5);
            }

        }


    }

    section {
        display: flex;
        flex-direction: column;

        article {
            border-bottom: solid 2px var(--secondary-bg-darkest);
            display: grid;
            grid-template-columns: 1fr min-content;
            grid-template-rows: 1fr min-content;
            width: clamp(20rem, 95%, 25rem);
            margin: 0 auto 0 auto;
            display: grid;

            h3 {}

            p {
                grid-row: 2;
            }

            a {
                grid-column: 2 / -1;
                grid-row: 1 / -1;
                margin: auto;
                transition: ease-in-out .3s;

                &:hover {
                    transform: scale(1.2);
                }

                svg {
                    margin: auto;

                    path {
                        fill: var(--nav-dark);
                    }
                }
            }




        }
    }


}

/* group setting page */
.group-settings-main {
    section {
        display: grid;
        grid-template-columns: 1fr;


    }
}

.group-create-main {
    overflow: hidden;

    h2 {}

    form {
        fieldset+fieldset {
            opacity: 0;
            transition: .3s;
            transform: translateY(100vh);
            grid-template-columns: 1fr 1fr;
            position: absolute;
            visibility: hidden;

            label:nth-child(2) {
                grid-row: 2;
                grid-column: 1;
            }

            label:nth-child(3) {
                grid-row: 2;
                grid-column: 2;
            }
        }

        fieldset:has(:checked)+fieldset {
            opacity: 1;
            transform: translateY(0);
            display: grid;
            position: static;
            visibility: visible;
        }


        .btn {
            text-align: center;
            text-align: center;
            grid-column: 1 / -1;
            margin: auto;
            padding: .5rem;
            transition: ease-in-out .3s;
            opacity: 0;
            transform: translateY(100vh);

        }
    }

    form:has(fieldset:first-child input:first-child:user-valid) .btn {
        opacity: 1;
        transform: translateY(0);
    }
}

/* theme page */
.theme-main {
    display: flex;
    flex-direction: column;
    margin: 0;
    width: 100vw;

    header {

        h2 {
            color: inherit;
            align-items: center;
            padding: 5px;
        }
    }

    section {
        padding: .5rem;
        margin: 0 auto 0 auto;
        width: 100vw;

        h3 {
            color: var(--secondary-bg-dark);
            display: flex;
            gap: 1rem;
            padding: .5rem 0 0 1rem;
            text-align: center;
            grid-column: 1 / -1;
            font-weight: 75;

            svg {
                path {
                    fill: var(--secondary-bg-dark);
                }
            }
        }

        img {
            grid-column: 2;
            width: clamp(75px, 20vw, 150px);
            justify-self: center;
        }

        button {
            padding: unset;
            grid-column: 2;
            justify-self: center;
            width: 10rem;
            aspect-ratio: 1 / 1;
            display: grid;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-columns: 1fr 1fr 1fr;

            svg {
                grid-row: 2;
                grid-column: 2;
                display: flex;
            }

        }
    }


    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: .25rem;
        padding: 0;
        list-style: none;
        width: fit-content;
        margin: 0 auto 0 auto;

        @media (min-width: 660px) {
            width: 100vw;
            grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
        }

        li {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            transition: opacity 0.3s;

            article {
                grid-row: 2;
                grid-column: 1 / -1;
                height: fit-content;
                text-wrap: nowrap;
                align-items: center;
                margin-top: auto;
                z-index: 100;
                display: none;
                opacity: 0;
                transition: opacity 0.3s;
                padding: 10px;
                width: 100%;
            }

            img {
                width: 100%;
                height: auto;
                object-fit: cover;
                grid-row: 1 / -1;
                grid-column: 1 / -1;
            }

            /* &:hover {
                article {
                    display: flex;
                    background-color: #0e1b22a6;
                    opacity: 1;
                    transform: scale(1.05);
                }
            }

            &:first-child {
                @media (min-width: 660px) {
                    grid-column: span 2;
                    grid-row: span 2;
                }
            } */
        }
    }
}

/* post page */
.post-main {
    overflow: hidden;

    h2 {
        align-items: center;
        display: flex;
        width: fit-content;
        margin: 0 auto 0 auto;
    }

    article {
        display: grid;
        gap: .5rem;

        img {
            width: clamp(150px, 100%, 800px);
            margin: 0 auto 0 auto;

            &:hover {
                transform: scale(1);
                cursor: unset;
            }
        }

        ol {
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            list-style: none;
            justify-content: center;

            li {
                width: fit-content;
                background-color: var(--secondary-bg-lightest);
                padding: 10px;
                border-radius: var(--border-radius-big);
                color: var(--font-color-dark);
            }
        }

        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            list-style: none;

            li {
                text-align: center;

                svg {
                    &:hover {
                        cursor: pointer;
                        animation-name: vibrate-fast;
                        animation-duration: 1s;
                        animation-timing-function: linear;
                        animation-delay: 2s;
                        animation-iteration-count: infinite;
                        animation-direction: normal;
                        animation-fill-mode: none;
                    }
                }
            }

            li:first-child {
                svg {
                    &:hover {
                        path {
                            fill: var(--alert-light);
                        }
                    }
                }
            }

            li:nth-child(2) {
                svg {
                    &:hover {

                        path {
                            /* moet nog in de styleguide */
                            fill: #fcdf03;
                        }
                    }
                }
            }

            li:last-child {
                svg {
                    &:hover {
                        path {
                            fill: var(--accent-light);
                        }
                    }
                }
            }

        }
    }
}

/* profile page */
.profile-main {
    h3 {
        text-align: center;
    }

    h3 {
        text-align: center;
        color: var(--nav-neutral);
    }

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        list-style: none;

        li {
            text-align: center;

            p {
                color: var(--nav-neutral);
            }
        }
    }

    article {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: auto;
        width: clamp(275px, 100%, 400px);

        h4 {
            text-align: center;
            color: var(--nav-neutral);

        }

        section {
            display: grid;
            padding: 10px;
            border-top: var(--secondary-bg-lightest) 2px solid;
            height: 6rem;

            h5 {
                grid-column: 1 / -1;
                grid-row: 1;
                font-size: var(--font-size-medium);

                a {
                    transition: margin-left 0.3s;
                    color: var(--font-color-dark);

                    &:hover {
                        margin-left: 5px;

                        &::after {
                            opacity: 1;
                        }
                    }

                    &::after {
                        content: '→';
                        margin-left: 5px;
                        opacity: 0;
                        transition: opacity 0.3s;
                    }
                }
            }

            ul {
                display: flex;
                justify-content: space-between;
                gap: 1rem;
                padding: 0;
                list-style: none;
                width: 100%;
                margin: 0 auto 0 auto;

                li {
                    color: var(--font-color-dark);
                    display: flex;
                    text-wrap: nowrap;
                    align-items: center;
                }
            }
        }
    }
}

/* Animations */
@keyframes vibrate-fast {

    0% {
        transform: translate(0);
    }

    10% {
        transform: translate(-2px, -2px);
    }

    20% {
        transform: translate(2px, -2px);
    }

    30% {
        transform: translate(-2px, 2px);
    }

    40% {
        transform: translate(2px, 2px);
    }

    50% {
        transform: translate(-2px, -2px);
    }

    60% {
        transform: translate(2px, -2px);
    }

    70% {
        transform: translate(-2px, 2px);
    }

    80% {
        transform: translate(-2px, -2px);
    }

    90% {
        transform: translate(2px, -2px);
    }

    100% {
        transform: translate(0);
    }
}


/* tomato animation */
@keyframes throw {
    0% {
        transform: translateY(1000px) translateX(-1000px);
        /* transform: ; */
        opacity: 1;
    }

    20% {
        transform: skew(10deg, 5deg) scale(1, 1.25);

    }

    30% {
        transform: skew(0, 0) scale(1, 1.5);

    }

    35% {
        transform: skew(0, 0) scale(1, 1.5);

    }

    35% {}

    40% {
        transform: translateY(0) translateX(0) skew(0, 0) scale(1, 1.5);

    }

    45% {
        transform: scale(1, 1.5);
    }

    100% {
        transform: translateY(100vh) scale(1, 1.75);
        opacity: 1;
    }
}

.tomato-throw {
    display: none;
    position: absolute;
    top: 20%;
    left: 30%;

    /* transform: skew(30deg, 20deg); */
    path {
        fill: var(--alert-light);
    }
}

.throw {
    animation-name: throw;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
    display: block;
    opacity: 0;

}

/* star animation */
@keyframes sparkle {
    0% {
        opacity: 1;
        transform: translateX(-100vw) translateY(-100vh) scale(1) rotate(0)
    }

    /* 50% {
        transform: translateX(-50vw) translateY(-50vh) scale(4) rotate(540deg)
    } */

    100% {
        transform: translateX(10vw) translateY(10vh) scale(6) rotate(1080deg);
        opacity: 1;
    }
}

.star-sparkle {
    position: absolute;
    bottom: 0%;
    right: 0%;
    opacity: 0;
}

.sparkle {
    animation-name: sparkle;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}


/* heart animation */

@keyframes love {
    0% {
        transform: translateX(100vw) rotateY(30deg) scale(6.5);
        transform-origin: -100% 50%;
        opacity: 0;
    }

    20% {
        background-color: transparent;

    }

    30% {
        transform: translateX(0) rotateY(0) scale(1);
        transform-origin: 600px 50%;
        opacity: 1;

    }

    31% {
        transform-origin: 50% 50%;
    }

    40% {
        transform: scale(3);
    }

    50% {
        transform: scale(2);
    }


    60% {
        transform: scale(3);
    }

    70% {
        transform: scale(1);
    }

    80% {
        background-color: transparent;

        transform: translateX(0) rotate(0deg);
    }

    99% {
        opacity: 1;
    }

    100% {
        transform: translateX(100vw) rotate(540deg);
        opacity: 0;
    }
}

.heart-love {
    opacity: 0;
    position: absolute;
    top: 20%;
    right: 35%;

    path {
        fill: var(--alert-light);
    }
}

.love {
    animation-name: love;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: none;
}